
body{
    background-color: white;
}
.top{
    color: aquamarine;
  
}

.destacados{
display: flex;
gap: 10px;
padding: 20px;
justify-content: center;
background-color: whitesmoke}

    .rect1{
        flex: 1;
        height: 120px;
        background-color: #FF0000;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .rect2{
        flex: 1;
        height: 120px;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }



.galeria{
color:brown 
}

.bottom{
    color: crimson;
}