
body{
    background-color: whitesmoke;
}
.top{
    display: flex;
    align-items: center;
    padding: 30px;
    color: whitesmoke;
    gap: 60px;
    height: 25%;
}

    .tarjeta{
        display: flex;
        height: 120px;
        align-items: center;
        gap: 15px;
        background-color: white;
        padding: 10px;
    }
        .imagen{
            width: 50px;
            height: 50px;
            background-color: #FF0000;
        }

        .texto{
            display: flex;
            flex-direction: column;
            gap: 5px;
            align-items: center; 
        
        }

            .linea{
                width: 100px;
                height: 10px;
                background-color: #FF0000;
            
            }

            .lineaCORTA {
                width: 50px;
                height: 10px;
                background-color: #FF0000;
          }
         
    .formulario {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    }

        .campo {
        width: 200px;
        height: 15px;
        background-color:#FF0000;
        padding: 10px ;
        align-items: center;
        }

        .boton {
        width: 80px;
        height: 10px;
        background-color: #610202;
        } 
        .lineaBLANCA{
            background-color: white;
            width:auto;
            height: 12px;
          }

.destacados{
display: flex;
gap: 10px;
padding: 20px;
justify-content: center;
background-color: whitesmoke}

    .rect1{
        flex: 1;
        height: 120px;
        background-color: #FF0000;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .rect2{
        flex: 1;
        height: 120px;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }



.galeria{
color:brown 
}

.bottom{
    background-color: whitesmoke; 
    padding: 40px; 
    gap: 10px;
    justify-content: center;
    display: flex;
}

     .parrafo{
         background-color: whitesmoke;
         display: flex;
         flex-direction: column;
         gap: 5px;
         align-items: center;
         min-width: 20%;
         }
           .linearda{
              background-color: #FF0000;
               height: 8px;
               width: 100%;
            }
         .lineardaCORTA{
               background-color: #FF0000;
              height: 8px;
              width: 50%;
            }